/**
 * Reset some basic elements
 */

 /*
 */
body, h1, h2, h3, ul{
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 BlinkMacSystemFont;
  display: flex;
  flex-direction: column; 
  width: 1280px;
}



img{
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}
.img-wrap-one{
  float:right;
}
.desc-one{
  float:left;
}

.img-wrap-two{
  float:left;
}
.desc-two{
  float:right;
}


a {
  text-decoration: none;

}
/**
 * Headings
 */
h1 {
  color: #0a3882;
  font-size: 36px;
  font-weight: 600;
  font-family: 'Zilla Slab', serif;
  margin-left: 90px;
  margin-top:6px;
  margin-bottom:7px;}
  h1:hover {
    color: #a9b8d1;}

.nav-btn, .auction-btn-left, .auction-btn-right  {
  color: #a9b8d1;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Zilla Slab', serif;
  margin-left: 110px;
  margin-top:15px;
  display: inline-block;
  }

  .auction-btn-left{
      padding: 0;
      margin-left:489px;
  }

  .auction-btn-right{
      padding: 0;
      margin-left:65px;
  }

  .nav-btn:hover, .auction-btn-left:hover, .auction-btn-right:hover{
    color: #0a3882;
  }


h2 {
  color: #0a3882;
  font-weight: 300;
  font-family: 'Zilla Slab', serif;
  }

h3 {
  color: #0a3882;
  font-size: 36px;
  font-weight: 600;
  font-family: 'Zilla Slab', serif;
  margin-left: 90px;
  margin-top:6px;
  margin-bottom:7px;}

* {
  box-sizing: border-box;
}

/*  CONTACT */

/* all the text stuff */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px;
  margin-top: 6px;
  margin-bottom: 16px;
  font-family: 'Arial', serif;;
}

/* specific to submit button */
input[type=submit] {
  background-color: #0a3882;
  color: white;
  padding: 12px 20px;
  border: none;
  font-family: 'Arial', serif;}

  input[type=submit]:hover {
  background-color: #f4f5f7;
  color: black;
}


/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 10px;
  padding: 20px;
}


/* logos */
.wiki-one{
  float:right;
  color:#0a3882;
}
.facebook-one{
  float:left;
  color:#0a3882;
} 

/*tried this, couldn't get it to work
.facebook-one:hover{
  image: url('facebookcolor.png');
  width:30px;
  height:30px;
}
*/








